# Pandas basics - Exercises
### Exercise 1
Below, you have the identifiers, weights (in g), and age (in months) for a few different lab mice. Convert them to a pandas DataFrame with the column labels "identifier", "weight", and "age" and a row index from 1-3.

Bonus: Can you also think of a solution that uses the `zip()` function from last week?

In [1]:
identifiers = ["mouse_1", "mouse_2", "mouse_3"]
weights = [18.1, 19.2, 20.1]
ages = [12, 18, 9]

In [2]:
import pandas as pd

df = pd.DataFrame({"identifier": identifiers, "weight": weights, "age": ages}, index=range(1, 4))

# bonus
df_bonus = pd.DataFrame(
    zip(identifiers, weights, ages), columns=["identifier", "weight", "age"], index=range(1, 4)
)

display(df, df_bonus)

  identifier  weight  age
1    mouse_1    18.1   12
2    mouse_2    19.2   18
3    mouse_3    20.1    9

  identifier  weight  age
1    mouse_1    18.1   12
2    mouse_2    19.2   18
3    mouse_3    20.1    9

### Exercise 2
Change the weight of mouse 2 to 19.6 and add one month to the age of all mice.

In [3]:
# change the weight of mouse 2
df.loc[2, "weight"] = 19.6

# add one month to all ages
df["age"] += 1 # remember, short for: df["age"] = df["age"] + 1