# Aggregate, apply, and groupby - Exercises
### Exercise 1
You are again given the Titanic dataset below. What was the average age of Titanic passengers?

In [1]:
import pandas as pd

df = pd.read_csv("../../data/titanic_data.csv")

df["age"].mean()

29.69911764705882

### Exercise 2
What was the median fare of Titanic passengers split by sex?

In [2]:
df.groupby("sex")["fare"].median()

sex
female    23.0
male      10.5
Name: fare, dtype: float64

### Exercise 3
What was the average and maximum age of survivors and non-survivors for each sex?

In [3]:
df.groupby(["survived", "sex"])["age"].agg(["mean", "max"])

                      mean   max
survived sex
False    female  25.046875  57.0
         male    31.618056  74.0
True     female  28.847716  63.0
         male    27.276022  80.0

### Exercise 4 - Bonus
Create a new column called "first class" that contains boolean data about whether a passenger was in the first class or in another class. What was the average age of first-class passengers vs non-first-class passengers?

In [4]:
df["class"].isna().sum()

0

In [5]:
def is_first_class(class_):
    if class_ == 1:
        return True
    else:
        return False
    
df["first class"] = df["class"].apply(is_first_class)

df.groupby("first class")["age"].mean()

first class
False    26.692708
True     38.233441
Name: age, dtype: float64