<a href="https://colab.research.google.com/github/kdidi99/Python_for_Biochemists/blob/main/notebooks/day_3_data_analysis_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 3: Data analysis with Pandas, part 2

## 2. Cleaning data, copies vs views

Data in the real world is often messy; therefore cleaning is an important part of every analysis.

In [2]:
import numpy as np
import pandas as pd

This tutorial is partially adopted from the one on the RealPython website (check this website out if you want to learn more about Python, it is awesome!)

In [ ]:
df = pd.read_csv('job_ads.csv') #looks horrible without header!
df = pd.read_csv('job_ads.csv', header = 1)

In [ ]:
df.head()

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
0,United States of America,US,NaN,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
1,United States of America,US,NaN,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
2,United States of America,US,NaN,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
3,United States of America,US,NaN,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c
4,United States of America,US,NaN,No,jobs.monster.com,Job Description Job #: 720298Apex Systems has...,Construction PM - Charlottesville Job in Charl...,Full Time Employee,"Charlottesville, VA",Computer/IT Services,http://jobview.monster.com/construction-pm-cha...,NaN,Experienced (Non-Manager),1e2637cb5f7a2c4615a99a26c0566c66

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7685 entries, 0 to 7684
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          7685 non-null   object
 1   country_code     7685 non-null   object
 2   date_added       32 non-null     object
 3   has_expired      7685 non-null   object
 4   job_board        7685 non-null   object
 5   job_description  7685 non-null   object
 6   job_title        7685 non-null   object
 7   job_type         6972 non-null   object
 8   location         7685 non-null   object
 9   organization     5012 non-null   object
 10  page_url         7685 non-null   object
 11  salary           1103 non-null   object
 12  sector           5592 non-null   object
 13  uniq_id          7685 non-null   object
dtypes: object(14)
memory usage: 840.7+ KB

In [ ]:
df.describe()

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
count,7685,7685,32,7685,7685,7685,7685,6972,7685,5012,7685,1103,5592,7685
unique,1,1,24,1,1,6618,6847,32,3701,374,7685,704,103,7685
top,United States of America,US,9/22/2016,No,jobs.monster.com,12N Horizontal Construction Engineers Job Desc...,Monster,Full Time Employee,"Columbus, OH",Healthcare Services,http://jobview.monster.com/it-support-technici...,"50,000.00 - 60,000.00 $ /year",Experienced (Non-Manager),11d599f229a80023d2f40e7c52cd941e
freq,7685,7685,2,7685,7685,104,120,2328,152,898,1,13,1469,1

Some columns only have one value (country, country_code, has_expired, job_board). Those columns do not add any value, so we can remove them.

In [ ]:
#df.drop(["country", "country_code", "has_expired", "job_board"], axis=1)
#does not change the df directly since the inplace option is not activated
#df = df.drop(["country", "country_code", "has_expired", "job_board"], axis=1) #now it works
#df.drop(["country", "country_code", "has_expired", "job_board"], inplace=True, axis=1)
#alternative which is clearer without axis nomenclature for columns
df.drop(columns = ["country", "country_code", "has_expired", "job_board"], inplace=True)
df.head()

,date_added,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
0,NaN,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,NaN,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,NaN,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,NaN,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,NaN,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c

Our index has no real information currently; when someone searches the database, they will probably use the unique ID, so we can set this as index

In [ ]:
df['uniq_id'].is_unique

True

In [ ]:
df = df.set_index('uniq_id')
#how to do this nicer without reassigning? Right, inplace option!
df.head()

,date_added,job_description,job_title,job_type,location,organization,page_url,salary,sector
uniq_id,,,,,,,,,
11d599f229a80023d2f40e7c52cd941e,NaN,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development
e4cbb126dabf22159aff90223243ff2a,NaN,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN
839106b353877fa3d896ffb9c1fe01c0,NaN,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN
58435fcab804439efdcaa7ecca0fd783,NaN,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager)
64d0272dc8496abfd9523a8df63c184c,NaN,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management

The job type column has many different names for the same thing
 (e.g. full time job), so we want to change this into a unique label in order to analyze the data later.

In [ ]:
df["job_type"].value_counts()

jobtype=df['job_type'].str.split(',')
df['job_type']=jobtype.str[0]
#eliminates all information after the comma; still there are redundant features!

df["job_type"].value_counts()

Full Time                                        3605
Full Time Employee                               2328
Full Time Temporary/Contract/Project              351
Full Time                                         173
Part Time                                         167
Part Time Employee                                126
Temporary/Contract/Project                         69
Employee                                           57
Per Diem                                           26
Full Time / Employee                               24
Full Time                                          10
Part Time/ Temporary/Contract/Project               8
Job Type Full Time Employee                         7
Per Diem Employee                                   6
Full Time/ Employee                                 3
Part Time Temporary/Contract/Project                2
Part Time                                           2
Job Type Employee                                   1
Part Time Seasonal                                  1
Job Type Full Time Temporary/Contract/Project       1
Full Time Intern                                    1
Full Time  Employee                                 1
Exempt                                              1
Part Time Intern                                    1
Full Time / > Employee                              1
Name: job_type, dtype: int64

In [ ]:
df2=df.copy()

In [ ]:
#df["job_type"].value_counts()
%%timeit


df2.mask(df2["job_type"].str.startswith("Part Time", na=False), other = "Part Time", axis=0, inplace=True)
df2.mask(df2["job_type"].str.startswith("Per Diem", na=False), other = "Per Diem", axis=0, inplace=True)

#change all job types containing Full Time to just Full Time; need to use contain since some Full Time descriptions do not start with it
df2.mask(df2["job_type"].str.contains("Full Time", na=False), other = "Full Time", axis=0, inplace=True)

#mask vs where, chaining multiple conditions
df2.where((df2["job_type"].str.contains("Time", na=False)) | (df2["job_type"].str.contains("Temporary", na=False)) | (df2["job_type"].str.contains("Per Diem", na=False)), other = "Other", axis=0, inplace=True)

df2["job_type"].value_counts()

10 loops, best of 5: 31.2 ms per loop

We can achieve the same data cleaning behaviour in a nicer way by using the where method of numpy:

In [ ]:
%%timeit
job = df["job_type"]
full = job.str.contains("Full Time")
part = job.str.contains("Part Time")
diem = job.str.contains("Per Diem")

df["job_type"] = np.where(full, "Full Time",
                          np.where(part, "Part Time",
                                   np.where(diem, "Per Diem", "Other")))


df["job_type"].value_counts()

100 loops, best of 5: 11.8 ms per loop

## Excursion: Views vs Copies in Pandas

Data can be referenced in two ways in both numpy and pandas: As shallow copies (**views**) or as deep copies (**copies**). The *SettingWithCopyWarning* is a common mistake beginners make when starting out with Pandas, and hopefully you will avoid these mistakes after this explanation.

In [4]:
array_orig = np.array([0, 5, 8, 2])

In [32]:
l =[["Mut1", 10, "C142G", "denatured"],
    ["Mut2", 1333, "C142S", "globular"],
    ["Mut3", 1104, "H86R", "globular"],
    ["WT", 2283, None, "globular"]] 

cols = ["name", "activity", "mutation", "shape"]
cols_num  = ["w", "x", "y", "z"]

numerical = [[5, 10, 124, 53],
            [9, 1333, 135, 12],
            [6, 1104, 194, 34],
            [13, 2283, 201, 25]] 
df_orig = pd.DataFrame(numerical, columns = cols_num)

In [7]:
#slicing returns view
array_view = array_orig[0:4]
print(array_view)
array_view.base #array_orig
array_view.base is array_orig #True
array_view.flags #owndata: False

[0 5 8 2]

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [8]:
#integer indexing and Boolean indexing return copies
array_copy = array_orig[[0,1,2,3]] #array_copy = array_orig[[False, True, True, False, False]]
print(array_copy)
array_copy.base #None/itself
array_copy.base is array_orig #False
array_copy.flags.owndata #True

[0 5 8 2]

True

<img src="https://github.com/kdidi99/Python_for_Biochemists/blob/main/images/views_copies_1.png?raw=1"  width="800"/>

In [11]:
#change entry in original array
print(f"array_orig: {array_orig} \narray_view: {array_view} \narray_copy: {array_copy}\n ---") 
array_orig[2] = 7
print(f"array_orig: {array_orig} \narray_view: {array_view} \narray_copy: {array_copy}") 
array_orig[2] = 8

array_orig: [0 5 8 2]
array_view: [0 5 8 2]
array_copy: [0 5 8 2]
 ---
array_orig: [0 5 7 2]
array_view: [0 5 7 2]
array_copy: [0 5 8 2]

<img src="https://github.com/kdidi99/Python_for_Biochemists/blob/main/images/views_copies_2.png?raw=1"  width="800"/>

In [12]:
#change entry in array_copy
print(f"array_orig: {array_orig} \narray_view: {array_view} \narray_copy: {array_copy} \n ---") 
array_copy[2] = 7
print(f"array_orig: {array_orig} \narray_view: {array_view} \narray_copy: {array_copy}") 
array_copy[2] = 8

array_orig: [0 5 8 2]
array_view: [0 5 8 2]
array_copy: [0 5 8 2]
 ---
array_orig: [0 5 8 2]
array_view: [0 5 8 2]
array_copy: [0 5 7 2]

<img src="https://github.com/kdidi99/Python_for_Biochemists/blob/main/images/views_copies_3.png?raw=1"  width="800"/>

Views and copies in Pandas are a bit more complicated due to the more complex nature of Pandas on top of NumPy, but there are similarities between the two:

In [34]:
#view created by slicing (rows)
print(df_orig)
df_view = df_orig[0:3]
df_view.to_numpy().base is df_orig.to_numpy().base
#df_view.to_numpy().flags.owndata

    w     x    y   z
0   5    10  124  53
1   9  1333  135  12
2   6  1104  194  34
3  13  2283  201  25

True

In [40]:
#copy created by integer indexing (columns)
df_copy = df_orig[["x", "z"]]
df_copy.to_numpy().base is df_orig.to_numpy().base

False

This gets more complicated if we use for example chained indexing, see [Pandas Documentation](https://pandas.pydata.org/docs/user_guide/indexing.html#evaluation-order-matters) and [Real Python Article](https://realpython.com/pandas-settingwithcopywarning/#indices-and-slices-in-numpy-and-pandas)

Best practise for those cases: Avoid chained assignements and use accessors!

For computations later down the road, we want to get rid of entries that are NaN in the date and the salary column. How many are there?

In [ ]:
salary_na = df['salary'].isna().sum()
date_na = df['date_added'].isna().sum()
total = len(df.index)
print(f"Missing salary values: {salary_na*100/total} %")
print(f"Missing date values: {date_na*100/total} %")

Missing salary values: 0.0 %
Missing date values: 0.0 %

In [ ]:
#high percentage of missing data, we will loose most of it if we drop!
print(len(df.index))
df_dropped = df.dropna(subset = ["date_added", "salary"])
print(len(df.index)-len(df_dropped.index))

1
1