# Plotting customization - Exercises

### Exercise 1
Try to reproduce the plot below as well as possible and save it as a .png file. The style-sheet used for the plot was the "ggplot" style-sheet. To get the colors right, you can use the HEX codes from Google's color picker (simply google "color picker") - it does not have to be perfect.

<div>
<img src="../img/plots/scatterplot_ex.png" width="700"/>
</div>

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt

df = sns.load_dataset("penguins")
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

### Exercise 2
Try to also reproduce the plot below. This time, you can simply use seaborn's standard theme.

<div>
<img src="../img/plots/gridplot_ex.png" width="600"/>
</div>

In [ ]:
# this resets the style-sheet from your above code
plt.rcdefaults()